{% include 'header.html' %}

<br>

<a href="{{url_for('create')}}" class="btn btn-success">

    Ingresar nuevo empleado

</a>

<br><br>

<div class="alert alert-primary" role="alert">
    <strong>Bienvenidos!!!</strong> CRUD de Python + Flask + MySQL + HTML + BOOTSTRAP
</div>

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for empleado in empleados %}
            <tr class="">                
                <td>{{empleado[0]}}</td>
                <td> <img src="uploads/{{empleado[3]}}" class="img-thumbnail rounded-top" width="100" alt="">
                    </td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
                <td> <a class="btn btn-warning" href="/edit/{{empleado[0]}}">Editar</a> | 
                    <a onclick="return confirm('¿Está seguro que desea eliminar?')" class="btn btn-danger" href="/destroy/{{empleado[0]}}">Eliminar</a>
                </td>
            </tr>
                
            {% endfor %}    



        </tbody>
    </table>
</div>

{% include 'footer.html' %}

